@use "@/styles/_variables.scss" as *;

.text-button {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &__text {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-button-hover-border;
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: block;
  }
}
