@use "@/styles/_variables.scss" as *;

.product-card {
  border: 1px solid $color-card-border;
  border-radius: 4px;
  padding: 1rem;
  background-color: $color-card-bg;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    margin-bottom: 0.5rem;

    img {
      object-fit: contain;
    }
  }

  &__content {
    width: 100%;
    text-align: left;
  }

  &__title {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-semibold;
    color: $color-text-primary;
    margin: 0 0 0.25rem 0;
  }

  &__subtitle {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
    color: $color-text-secondary;
    margin: 0 0 0.25rem 0;
  }

  &__description {
    font-size: $font-size-base;
    line-height: $line-height-base;
    font-weight: $font-weight-regular;
    color: $color-text-secondary;
    margin: 0;
  }
}
