// Colors
$color-text-primary: #151926;
$color-text-secondary: #4b4e62;

$color-card-bg: #ffffff;
$color-card-border: #e1e2e5;

$color-button-border: #9293a4;
$color-button-hover-bg: #d9e8f7; // TODO find out correct color
$color-button-hover-border: #005aa3;
$color-button-bg: #ffffff;
$color-button-active-bg: #e5e7eb;

$color-dot-border: #005aa3;
$color-dot-bg: #ffffff;
$color-dot-hover-border: #004277;
$color-dot-active-bg: #003662;
$color-dot-selected-bg: #005aa3;
$color-dot-focus-border: #267bc0;

// Typography
$font-size-base: 16px;
$line-height-base: 24px;
$font-weight-regular: 400;
$font-weight-semibold: 600;

// Header Typography
$font-size-header: 32px;
$line-height-header: 46px;
