@use "@/styles/_variables.scss" as *;

.page-numbers {
  display: flex;
  gap: 4px;
  align-items: center;
  height: 40px;

  &__arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    opacity: 1;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 18px;
      height: 18px;
      object-fit: contain;
    }
  }

  &__text {
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $color-text-primary;
    min-width: 40px;
    text-align: center;
  }
}
